<footer class="footer_redes_sociales">
    <div class="icono_texto">
      <div class="grid-container">
        <div class="i1"><img src="../../../../assets/img/Edumanager.png" alt="Logo EduManager"></div>
        <div class="i2">© 2024 Escuela Normal Superior N°4 "Dr. Antonio Sagarna".</div>
        <div class="i3">Tecnicatura Superior en Análisis y Desarrollo de Software.</div>
        <div class="i4">Todos los derechos reservados.</div>      
    </div>
      </div>  
        <div class="redes_sociales">
        <a href="https://www.facebook.com/escuelasagarnanogoya?mibextid=2JQ9oc" class="iconos_redes_sociales" id="facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/escuelasagarna/" class="iconos_redes_sociales" id="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/@nivelsuperiorsagarna6773" class="iconos_redes_sociales" id="youtube"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </footer>
    