<div class="card m-3">
    <div class="card-header">Agregar Libro</div>
    <div class="card-body p-5">
        
        
        <div class="mb-3">
            <label for="" class="form-label">Titulo</label>
            <input
                type="text"
                class="form-control"
                placeholder="Ingrese un titulo.."
            />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Nota de Contenido</label>
            <input
                type="text"
                class="form-control"
                placeholder="Ingrese una nota de contenido.."
            />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Año</label>
            <input
                type="text"
                class="form-control"
                placeholder="Ingrese una nota de contenido.."
            />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Signatura Topografica</label>
            <input
                type="text"
                class="form-control"
                placeholder="Ingrese una nota de contenido.."
            />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Editorial</label>
            <input
                type="text"
                class="form-control"
                placeholder="Ingrese una nota de contenido.."
            />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Material</label>
            <input
                type="text"
                class="form-control"
                placeholder="Ingrese una nota de contenido.."
            />
        </div>
        
        <div class="btn-group mt-3" role="group">
            <button
                type="button"
                class="btn btn-primary"
            >
                Guardar
            </button>
            <button
                type="button"
                class="btn btn-danger"
            >
                Cancelar
            </button>
        </div>
        
        



    </div>
    
</div>
