<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Teléfono</th>
      <th>Domicilio</th>
      <th>Email</th>
      <th>Localidad</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <td>{{ persona.perNombre }}</td>
      <td>{{ persona.perApellido }}</td>
      <td>{{ persona.perTelefono }}</td>
      <td>{{ persona.perDomicilio }}</td>
      <td>{{ persona.perMail }}</td>
      <td>{{ persona.localidadID }}</td>
      <td>{{ persona.rolID }}</td>
      <td>
        <!--<button [routerLink]="['/personas/editar', persona.idPersonas]">Editar</button>-->
        <button (click)="deletePersona(persona.idPersonas)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

